<html lang="en">
<head>
<meta charset="utf-8">
<title>Ment_Ed</title>
<meta name="description" content="Figma htmlGenerator">
<meta name="author" content="htmlGenerator">
<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/homepage.css">
<style>
body {background: #E5E5E5; margin: 0px;}
</style>
</head>
<body>
<div class=e38_0><div  class="e53_64"></div>

<div  class="e53_2"></div>
<div  class="e53_15"></div>
<div  class="e65_28"></div>
<h1>Ment_Ed</h1>
<span  class="e39_12">A Common place for Students, employers and Recruiters</span>
<span  class="e53_18">Join For Free</span>
<span  class="e65_29">BEST FEATURES</span>
<div class=e65_142><div  class="e39_0"></div>
<span  class="e39_1"></span>
<div  class="e48_2"></div>
<div  class="e53_27"></div>
<div  class="e53_37"></div><div  class="e53_50"></div>
<div  class="e53_26"></div>
<div  class="e53_38"></div>
<div  class="e53_51"></div>
<div class=e53_25><div  class="e53_23"></div>
<span  class="e53_24">as STUDENT</span></div>
<div class=e53_39><div  class="e53_40"></div>
<span  class="e53_41">as EMPLOYEE / MENTOR</span></div>
<div class=e53_52><div  class="e53_53"></div>
<span  class="e53_54">as RECRUITER</span></div>
<div class=e53_33><div  class="e53_31"></div>
<a href="/register"><span  class="e53_32">Signup now!</span></div></a>
<div class=e53_47><div  class="e53_48"></div>
<a href="/Mregister"><span  class="e53_49">Signup now!</span></div></a>
<div class=e53_55><div  class="e53_56"></div>
<a href="/Rregister"><span  class="e53_57">Signup now!</span></div></a>
  <div class=e53_34>
  <div  class="e53_35"></div>
  <a href="/login"><span  class="e53_36">Login !</span></a></div>
  <div class=e53_42><div  class="e53_43"></div>
  <a href="/Mlogin"><span  class="e53_44">Login !</span></a></div>
  <div class=e53_58><div  class="e53_59"></div>
  <a href="/Rlogin"><span  class="e53_60">Login !</span></a></div>
  <div  class="e53_29"></div><div  class="e53_61"></div>
  <span  class="e53_30">- Join community <br>
- Maintain leaderboard/ranking <br>
- Manage timetable <br>
- Verify Skills/ gain points <br>
- Internship/jobs opportunity</span>
<span  class="e53_46">- Join community <br>

- Hire Interns <br>
- Work on Projects <br>
- Jobs opportunity</span>
<span  class="e53_62">- Join community <br>

- Hire Employees <br>
- Hire Interns <br>
- Internship/jobs opportunity</span>
<div class=e56_0>
  <div  class="e53_1"></div>
</div><div class=e65_24>
  <div  class="e65_1"></div>
  <div class=e65_9>
    <div  class="e65_7"></div>
    <span  class="e65_8">gamification</span></div>
  </div><div class=e65_27><div  class="e65_3"></div>
  <div class=e65_20><div  class="e65_21"></div>
  <span  class="e65_22">chatbot</span></div></div
  ><div class=e65_26><div  class="e65_4"></div>
  <div class=e65_17><div  class="e65_18"></div>
  <span  class="e65_19">skill verification</span></div></div>
  <div class=e65_25><div  class="e65_5"></div>
  <div class=e65_13><div  class="e65_14"></div>
  <span  class="e65_15">community</span></div></div>
  <div class=e65_23><div  class="e65_0"></div>
  <div class=e65_10><div  class="e65_11"></div>
  <span  class="e65_12">personalized learning path</span></div></div>
  </div>
</body>
</html>