<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Oops! Try Again</title>
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="  background: linear-gradient(115deg, #54aee3, #009ffd, #2a2a72);">

<nav class="navbar navbar-expand-md navbar-dark " style="background-color:#644867 ">
    <a class="navbar-brand" href="/login"><strong>Ment_Ed</strong></a>
</nav>
<br>
<br>

<div class="container login">
    <div class="row">
        <div class="col-7">
            <img src="../static/error.jpg" alt="" height="400">
        </div>
        <div class="col-5">
            <h1 style="padding-top: 50px">
                OOPS! Incorrect Login
            </h1>
            <br>
            <br>
            <br>
            <button type="submit" class="btn btn-dark" style="background: #644867; position: absolute;left: 130px;">
                <a href="/register" style="color:white;text-decoration:none" class="text-center"  > Register here</a>
            </button>
        </div>
    </div>
</div>
</body>

</html>