{% extends "layout.html"%}
{% block content%}

<section id="team" class="pb-5" style="transform:translateY(-5%)">
    <div class="container">

        <br>
        <h2 class="text-center section-title"><strong>Connect with recruiters! </strong></h2>
        <h6 class="text-center">Get your dream job. </h6>
        <br>
        <hr>
        <br>


        {% if user.score>-10 %}
        <div class="row">
            {% for r in recruiter%}

            <!-- Team member -->
            <div class="col-md-3">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid"
                                            src="{{r.image}}"
                                            alt="card image"></p>
                                    <h4 class="card-title" style="color:#343A40 !important"><strong>{{r.username}}</b> </strong></h4>
                                    <hr>

                                    <p class="card-text text-muted" style="font-size:18px">University recruiter</p>
                                    <p class="card-text">{{r.company}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title" style="color:#343A40 !important">Job Openings</h4>
                                    <br>
                                    <p class="card-text" style="font-size:18px">SDE I, Summer 2021 Intern,PM,HR Intern</p><br>

                                    <button type="button" class="btn btn-dark" style="background-color:#644867;">
                                        <a href="{{ url_for('submitinterview', rid=r.id, uid=user.id, recruitername=r.username) }}"
                                           style="font-size:15px; color:white;">Connect</a>

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ./Team member -->
            <div class="col-md-1"></div>
            {% endfor %}


        </div>

        {% else %}
        <h3>No jobs avaiable now. <br> Keep working on your skills</h3>
        {% endif %}

    </div>
</section>


{% endblock%}
 
