<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="  background: linear-gradient(115deg, #54aee3, #009ffd, #2a2a72);">

<nav class="navbar navbar-expand-md navbar-dark " style="background-color:#644867 ">
    <a class="navbar-brand" href="/login"><strong>Ment_Ed</strong></a>
    <ul class="nav navbar-nav  ">
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        
        <li class="nav-item" style="float:right;transform:translateX(1000%);">
            <a class="nav-link" href="/Rlogin">Recruiter</a>
        </li>
        <li class="nav-item" style="float:right;transform:translateX(1175%);">
            <a class="nav-link" href="/Mlogin">Mentor</a>
        </li>
        <li class="nav-item" style="float:right;transform:translateX(1400%);">
            <a class="nav-link" href="/homepage">Home</a>
        </li>

    </ul>

</nav>
<br>
<br>

<div class="container login">
    <div class="row">
        <div class="col-7">
            <img src="../static/slogin.png" height="400" width="400" alt="">
        </div>
        <div class="col-5">
            <br><br>
            <h2> Login : STUDENT</h2>
            <br>
            <form action="" method="post">

                <div class="form-group">
                    <label>Username </label>
                    <input type="text" name="username" class="form-control" placeholder="Enter username">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password">
                </div>

                <button type="submit" class="btn btn-dark" style="background-color:#644867;">Submit</button>
            </form>
        </div>

    </div>
</div>

</body>

</html>