{% extends "layout.html"%} {% block content%}


<div class="row">
    <div class="col-8 mx-auto">

        <!-- Profile widget -->

        <div class=" shadow rounded overflow-hidden">
            <div class="px-4 pt-0  " style="background-color:#644867;">

            <div class="media align-items-end profile-header" style=>
                    <img class=" rounded-circle" src="{{i.image}}" style="width:200px; height:200px">  
                    <div class="media-body text-white" style="transform:translateY(-30%)">

                        <h1 class=" ml-10" style="text-shadow: 2px 1px 1px #7d7d7d;"> {{ i.username }}</h1>
                       &nbsp;&nbsp; <p class="small mb-4"> Student at Vellore Institute of Technology</p>
                     <p class="small mb-4"> Working/Studying at {{i.institute}}</p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center"
                 style="background:#F0F2F5  !important;height:80px">


                <div class="col-md-4 text-center">

                    <a href="{{i. github}}" target="_blank" class="btn-social btn-github"><i
                            class="fa fa-github"></i></a>
                    <a href="{{i.linkedin}}" target="_blank" class="btn-social btn-linkedin"><i
                            class="fa fa-linkedin"></i></a>
                </div>

                <ul class="list-inline mb-0">

                    <li class="list-inline-item">
                        <br>
                        <h5 class="font-weight-bold mb-0 d-block">{{i.score}}</h5><small class="text-muted">
                        Score</small>

                    </li>
                </ul>
            </div>
            <br>
            <div class="row" style="background:white">
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h3 class="mb-0">About</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-2" style="padding:2%">
<!--                            {{i.about}}-->
                            Second year Btech student at Vellore Institue of Technology, looking for jobs and internships!
                        </div>
                    </div>
                </div>


                <div class="py-4 px-4">

                    <div class="row">

                        <div class="col-lg-5 mb-2 pr-lg-1" style="padding:2%; margin-left:2%">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h5 class="mb-0 text-center">Skills</h5>
                            </div>
                            {{i.skills}}
                             <span class="badge-sm badge-success badge-pill" style="font-size:20px">Python</span>
                             <span class="badge-sm badge-success badge-pill" style="font-size:20px">Flask</span>
                             <span class="badge-sm badge-success badge-pill" style="font: size 20px;">UI/UX Designing</span>
                            <br><br>
                            {% if i.verifiedskills%}
                            {{i.verifiedskills}}
                            <span class="badge-sm badge-success badge-pill" style="font-size:12px">Verified</span>

                            {% endif%}

                            <br> <br>
                            <br> <br>
                            <button type="button" class="btn btn-dark" style="background-color:#644867; width: 120px; height: 60px;" data-toggle="modal"
                                    data-target="#exampleModal">
                                Explore skill asssments
                            </button>

                        </div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5">

<!--                            Credential <br><img src="{{ i.credentials }}" alt="" width="400"><br>-->
                            <br><img src="../static/about.png" alt="" width="400" height="380"><br>
                        </div>
                    </div>


                    <br>


                    <br><br>
                    <a href="/SProfileProject"><button type="button" class="btn btn-dark" style="background-color:#644867; ">
                        Add Projects
                    </button></a>
                    <a href="/Scertificates"><button type="button" class="btn btn-dark" style="background-color:#644867; ">
                        Add Certificates!
                    </button></a>
                    <a href="/Sresume"><button type="button" class="btn btn-dark" style="background-color:#644867; float: right;">
                        Add Resume
                    </button></a>
<br>
<br>
                    <h4>Take a look at my projects!</h4>
                    <br>
                    <div class="row">
                        <div class="col-1" style="margin-right:3%">
                        </div>
                        <div class="col-12">
                            <div class="homeDiv">
                                {% for i in Sprofile_project %}
                                
                                <div class="row"
                                     style="box-shadow: 0 8px 16px rgba(0, 0, 0, .1); background:#fff; padding:2%; border-radius:1%">
                                    <div class="col-12">
                                        
                                        <b style=" font-size:19px" class="text-color">{{ i.project }}</b>
                                        <br>
                                        <span style="color:#495057;font-size:16px"> {{i.shortdescription }}</span>
                                       <br>
                                        <a href="{{i.link }}" target="_blank">Checkout my project! <span style="font-size:16px"> </span></a>
                                        <br>
                                        <span class="badge badge-pill" style="background-color:#e9ecef;font-size:14px">{{i.tags}}</span>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                {% endfor %}
                    
                                
                    
                                
                            </div>
                        </div>
                        <div></div>
                        
                    </div>
                    <br>

                    <h4>Licenses and Certifications</h4>
                    <br>
                    <div class="row">
                        <div class="col-1" style="margin-right:3%">
                        </div>
                        <div class="col-12">
                            <div class="homeDiv">
                                {% for i in Scertificate %}
                                
                                <div class="row"
                                     style="box-shadow: 0 8px 16px rgba(0, 0, 0, .1); background:#fff; padding:2%; border-radius:1%">
                                    <div class="col-12">
                                        
                                        <b style=" font-size:19px" class="text-color">{{ i.certificate }}</b>
                                        <br>
                                        
                                        <a href="{{i.link }}" target="_blank">See credential! <span style="font-size:16px"> </span></a>
                                        <br>
                                        <span class="badge badge-pill" style="background-color:#e9ecef;font-size:14px">{{i.tags}}</span>
                                        
                                        <br>
                                    </div>
                                </div>
                                <br>
                                {% endfor %}
                    
                                
                    
                                
                            </div>
                        </div>
                        <div></div>
                        
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Assessments</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color:#644867;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="scroller">

                                        <br>
                                        <button class="btn btn-dark" style="background-color:#644867;">Android</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">Angular</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">Bash</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">C++</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">Django</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">Golang</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">Hadoop</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">Java</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;"><a class="" href="/verifiedskills" style="color:white"> Javascript</a>
                                        </button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">Kotlin</button>
                                        <br>
                                        <hr>
                                        <button class="btn btn-dark" style="background-color:#644867;">Lisp</button>
                                    </div>

                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color:#644867;">Done</button>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            

        </div>

    </div>
</div>


{% endblock%}