<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ment_Ed</title>
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="  background: linear-gradient(115deg, #54aee3, #009ffd, #2a2a72);">

    <nav class=" navbar navbar-expand-md navbar-dark " style="background-color:#644867; height: 70px; ">

    <ul class="nav navbar-nav ">
        <a class="navbar-brand" href="/register"><strong>Ment_Ed</strong></a>

        <li class="nav-item">
            <a class="nav-link" href="/login"><strong>Login</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register"><strong>Register</strong></a>
        </li>
        <li class="nav-item" style="float:right;transform:translateX(1000%);">
            <a class="nav-link" href="/Rlogin">Recruiter</a>
        </li>
        <li class="nav-item" style="float:right;transform:translateX(1175%);">
            <a class="nav-link" href="/Mlogin">Mentor</a>
        </li>
        <li class="nav-item" style="float:right;transform:translateX(1400%);">
            <a class="nav-link" href="/homepage">Home</a>
        </li>
    </ul>

</nav>

<div class="container ">
    <br> <h2> &nbsp;Register</h2>

    <br>
    <div class="row ">

        <div class="col-5 pl-5">
            <form action="" method="post">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="username" class="form-control" placeholder="Enter name">

                </div>
                <div class="form-group">
                    <label>Email-Id</label>
                    <input type="text" name="email" class="form-control" placeholder="Enter Email">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password">
                </div>
               
                <div class="form-group">
                    <label>Profile photo</label>
                    <input type="text" name="image" class="form-control"
                           placeholder="Add profile photo" >
                </div>
                <br>
                &nbsp; &nbsp; &nbsp;<input type="radio" name="typeOfAccount" id="Student" value="Student"
                                           class="text-center">
                Student </input>
                &nbsp; &nbsp;<br><br><br>

                <div class="form-group">
                    <label>About</label>
                    <input type="text" name="about" class="form-control"
                           placeholder="Add description">
                </div>
                <div class="form-group">
                    <label> Organisations /institute</label>
                    <input type="text" name="institute" class="form-control"
                           placeholder="Add institute">
                </div>
                <div class="form-group">
                    <label>Credentials</label>
                    <input type="text" name="credentials" class="form-control"
                           placeholder="Add Credentials">
                </div>
                <div class="form-group">
                    <label>Skills</label>
                    <input type="text" name="skills" class="form-control"
                           placeholder="Add skills">
                </div>
    <div class="row m-2">
                    <div class="form-group mr-4">
                    <label>Github link </label>
                    <input type="text" name="github" class="form-control"
                           placeholder="Add github">
                </div>
                <div class="form-group">
                    <label>Linkedin account</label>
                    <input type="text" name="linkedin" class="form-control"
                           placeholder="Add linkedin">
                </div>
    </div>
                <button type="submit" class="btn btn-dark" style="background-color:#644867;" >Submit</button>
            </form>
        </div>
        <div class="col-7"><img src="../static/sregister.png" height="500" width="500" alt=""></div>
    </div>
</div>
</body>
</html>