{% extends "layout.html"%}
{% block content%}


<style type="text/css">
.demo{
    width:50px; 
    margin:10px auto 20px auto;
    min-height:340px;
}
.msg{
    text-align:center; 
    height:32px; 
    line-height:32px; 
    font-weight:bold; 
    margin-top:50px
}

</style>
<div id="main" style="box-shadow: 0 8px 16px rgba(0, 0, 0, .1); background:#fff; padding:2%;">
    <div>
        <br>
        <div class="row">
            <div class="col-5">

                <h1>Scratch card</h1>
                <p class="text-muted">Get a chance to win many exciting prizes and offers</p>
            <img src="https://media.giphy.com/media/3oz8xBkRsgPTnbK1GM/giphy.gif" alt="" width="150">

                <div class="demo" style="float:right">
                    <canvas></canvas>
                </div>
            </div>
        </div>
    </div>


</div>
</div>

<script type="text/javascript">
var bodyStyle = document.body.style;
bodyStyle.mozUserSelect = 'none';
bodyStyle.webkitUserSelect = 'none';
var img = new Image();
var canvas = document.querySelector('canvas');
canvas.style.backgroundColor='transparent';
canvas.style.position = 'absolute';
var imgs = ['https://image.freepik.com/free-psd/admission-ticket-template-with-spring-festival-concept_23-2148167474.jpg'];
var num = Math.floor(Math.random()*0); //change to lenght of array
  console.log(num);
img.src = imgs[num];
// img.addEventListener('load', function(e) {
function drawScratchCard(e){
	var ctx;
    var w = img.width,
    	h = img.height;
    var offsetX = canvas.offsetLeft,
    	offsetY = canvas.offsetTop;
    var mousedown = false;
    function layer(ctx) {
        ctx.fillStyle = 'gray';
        ctx.fillRect(0, 0, w, h);
    }
    function eventDown(e){
        e.preventDefault();
        mousedown=true;
    }
    function eventUp(e){
        e.preventDefault();
        mousedown=false;
    }
    function eventMove(e){
        e.preventDefault();
        if(mousedown) {
             if(e.changedTouches){
                 e=e.changedTouches[e.changedTouches.length-1];
             }
             var x = (e.clientX + document.body.scrollLeft || e.pageX) - offsetX || 0,
                 y = (e.clientY + document.body.scrollTop || e.pageY) - offsetY-100 || 0;
             with(ctx) {
                 beginPath()
                 arc(x, y, 40, 0, Math.PI * 3);
                 fill();
             }
        }
    }
    canvas.width=w;
    canvas.height=h;
    canvas.style.backgroundImage='url('+img.src+')';
    ctx=canvas.getContext('2d');
    ctx.fillStyle='transparent';
    ctx.fillRect(0, 0, w, h);
    layer(ctx);
    ctx.globalCompositeOperation = 'destination-out';
    canvas.addEventListener('touchstart', eventDown);
    canvas.addEventListener('touchend', eventUp);
    canvas.addEventListener('touchmove', eventMove);
    canvas.addEventListener('mousedown', eventDown);
    canvas.addEventListener('mouseup', eventUp);
    canvas.addEventListener('mousemove', eventMove);
}
img.addEventListener('load',drawScratchCard);









</script>


{% endblock%}
